<div class="{{ containerClass }}" id="{{ containerId }}">
    <button id="{{ downloadButtonId }}" type="button">Download CAD</button>
    <select id="{{ formatSelectId }}">
        <option value="none" selected="selected">Choose a CAD format</option>
    </select>
    <br>
    <button id="{{ view3dButtonId }}" type="button">View 3D Model</button>
    <a id="{{ disclaimerId }}" target="{{ disclaimerTarget }}" href="{{ helpHref }}">Adobe 3D PDF help</a>
    <button id="{{ view2dButtonId }}" type="button">View 2D Model</button>
</div>
