<table id="{{ tableId }}" class="{{ tableClass }}">
    <thead>
    <tr>
        <td colspan="2" id="{{ labelId }}">Configuration</td>
    </tr>
    </thead>

    <tbody>
    {% for attribute in configurableAttributes %}
    <tr class="cds-{{ cycle(['odd', 'even'], loop.index0) }}">
        <td id="cds-al-{{ attribute.cleanId }}" class="label">{{ attribute.label }}</td>
        <td id="cds-av-{{ attribute.cleanId }}">
            {{ attribute.input | raw }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
