<div class="{{ containerId }}">
    <table>
        <tbody>
        <tr>
            <td id="{{ productPriceId }}">
                Request Quote
                {% if listPrice %}
                    <div id="{{ productListPriceId }}">List Price: <span>{{ listPrice }}</span></div>
                {% endif %}
            </td>
            <td>
                Quantity
                <input type="text" size="3" value="1" id="{{ qtyInputId }}">
            </td>
            <td>
                <button id="{{ addToCartButtonId }}">{{ addToCartLabel }}</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
