<div class="{{ additionalImagesClass }}">
    {% for image in images %}
        <a href="" onclick="return TopFloor.Cds.Components.ProductImages.expandImage('{{ image.fullSrc }}')">
            <img src="{{ image.thumbSrc }}" alt="{{ image.alt }}" title="{{ image.title }}">
        </a>
    {% endfor %}
</div>
<p class="{{ additionalImagesLabelClass }}">{{ additionalImagesLabelText }}</p>
<div id="{{ expandedImageContainerId }}" style="display: none;">
    <img id="{{ expandedImageId }}" src="">
</div>
