<table id="{{ tableId }}" class="{{ tableClass }}">
    <thead>
    <tr>
        <td colspan="2">Documentation</td>
    </tr>
    </thead>

    <tbody>
    {% for attachment in attachments %}
        <tr class="cds-{{ cycle(['odd', 'even'], loop.index0) }}">
            <td id="cds-al-{{ attachment.cleanId }}">{{ attachment.label }}</td>
            <td id="cds-av-{{ attachment.cleanId }}">
                <a href="{{ attachment.href }}" target="{{ attachmentTarget }}">
                    <img src="{{ attachment.imageURL }}">

                    {{ attachment.filename }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
