{% extends "layouts/main.html" %}
{% block content %}
<div id='cds-content' class='cds-content cds-product-page'>
    <div class="{{ productIconsClass }}">
        <a href="{{ productPrintIconHref }}"><img src="{{ productPrintIconSrc }}"></a>
        <a href="{{ productEmailIconHref }}"><img src="{{ productEmailIconSrc }}"></a>
    </div>

    {% if customHeader %}
    <div class="{{ customHeaderClass }}">
        {{ customHeader }}
    </div>
    {% endif %}

    <div class="{{ productHeaderClass }}">
        {% if productImageSrc %}
        <div id="{{ imageContainerId }}" class="{{ imageContainerClass }}">
            <div id="{{ productImageId }}" class="{{ productImageClass }}">
                <img src="{{ productImageSrc }}"
                     {% if productImageAlt %} alt="{{ productImageAlt }}"{% endif %}
                     {% if productImageTitle %} title="{{ productImageTitle }}"{% endif %}
                >
            </div>
        </div>
        {% endif %}

        <div class="{{ productControlsClass }}">
            {% if productDescription %}
            {% if showTitle %}<h1>{{ productDescription }}</h1>{% endif %}
            <h2>Model: <span id="{{ modelNumberId }}" name="{{ modelNumberName }}">{{ productLabel }}</span></h2>
            {% else %}
            {% if showTitle %}<h1>{{ productLabel }}</h1>{% endif %}
            <h2>Category: <span>{{ categoryLabel }}</span></h2>
            {% endif %}

            {{ ProductCart.output | raw }}

            {{ CadRequester.output | raw }}

            {{ SpecSheet.output | raw }}
        </div>

        {{ ProductImages.output | raw }}

        <h3>
            Product Details

            {{ UnitToggle.output | raw }}
        </h3>

        <div class="{{ productDetailsClass }}">
            {% if longDescription %}
            <p>{{ longDescription }}</p>
            {% endif %}

            <div class="{{ productDetailsLeftClass }}">
                {{ ConfigurableAttributes.output | raw }}

                {{ ProductAttributes.output | raw }}
            </div>

            <div class="{{ productDetailsRightClass }}">
                {{ ProductAttachments.output | raw }}
            </div>
        </div>
    </div>
</div>
{% endblock %}